<div class="container mt-4">
 <div class="row">
  <div class="col-md-6">
    <h2>Student Form</h2>
    <app-std-form (formObj)="getFormObj($event)"></app-std-form>
  </div>
  <div class="col-md-6">
    <h2>Student Table</h2>
    <app-std-table [stuArr]="studentArr"></app-std-table>
  </div>
 </div>
<hr><hr>
  <div class="row">
    <div class="col-md-6">
      <h2>Todo Form</h2>
      <app-todo-form (todoEve)="getTodo($event)"></app-todo-form>
    </div>
    <div class="col-md-6">
      <h2>Todo List</h2>
      <app-todo-list [skills]="skillsArray"></app-todo-list>
    </div>
  </div>
</div>